/* #region Base */
body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
/* #endregion */

/* #region  Header*/
.page-header {
}
.header-nav {
}
.logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.nav-list {
}
.nav-item {
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Solution */
.solution {
  background: #2e2f42;
}
.solution-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.solution-button {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.solution-button:hover,
.solution-button:focus {
  background: #404bbf;
}
/* #endregion */

/* #region Approache */
.approache {
}
.approache-title {
}
.approache-list {
}
.approache-item {
}
.approache-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.approache-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team */
.team {
  background: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
}
.team-iten {
  background-color: #ffffff;
}
.team-img {
}
.team-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Footer */
.page-footer {
  background-color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.logo-part {
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* #endregion */
