body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 375px;
}
.hero-wrapper {
  display: block;
  padding: 100px 20px 40px 20px;
  background-color: #576f35;
}
.hero-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
}
.hero-wrap {
  display: block;
  background-image: url(../images/healthy-food-mob.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: url(../images/healthy-food-mob@2x.jpg);
  }
}
.work-svg {
  fill: #fbfbfb;
}
.work-wrap {
  display: block;

  border: solid hsl(347, 97%, 50%);
  background-color: #576f35;
}
.work-list {
}
.work-item {
}
